body{
	margin: 0;
	overflow: hidden;
}
#gradient-canvas {
	position: relative;
	z-index: -100;
  width:100vw;
  height:100vh;
  --gradient-color-1: #0ff029; 
  --gradient-color-2: #f2ff38; 
  --gradient-color-3: #5a21e8;  
  --gradient-color-4: #ee2f69;
}
h1{
	padding: 0;
	margin: 0;
	position: absolute;
	z-index: 2;
	top: 90%;
	font-size:200%;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	text-decoration: none;
}